# Python
WecOptTool.egg-info
*__pycache__*

# PyPI
dist/

# CONDA
# TODO

# Sphinx
docs/_build/
docs/source/_examples
docs/source/api_docs

# Tutorials results
results*

# Jupyter notebooks
*/.ipynb_checkpoints/*
