# Operating systems
Thumbs.db
*.DS_Store

# Python
WecOptTool.egg-info
*__pycache__*

# Sphinx
docs/_build/

# LaTex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
